main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}


.header {
  font-size: 3rem;
  width: 35rem;

}


.background-img {
  width: 100%;
  height: 400px;
  object-fit: cover;

}

.searchOptions {

  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10rem;

}


.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15rem;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.search-container p {
  font-size: 12px;
  text-align: center;
}

.search-item {
  height: 7rem;
  width: 7rem;
  gap: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchbar img{
  width: 2rem;
}
input {
  width: 20rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001C24;
  border: none;
  border-radius: 1rem 0 0 1rem;
  padding-left: 0.5rem;
}

.button {
  height: 100%;
  background-color: #1E5A6E;
  border: none;
  padding: 0 1rem;
  border-radius: 0 1rem 1rem 0;
  height: 2.5rem;
  cursor: pointer;

}

.randomize {
  background: none;
  border: none;
}

p {
  font-size: 1.2rem;
}

.cocktail-image-random {
  width: 10rem;

}

.alphabet {
  display: flex;

}

.alphabet li {
  list-style: none;
  margin: 0 1rem;
  font-size: 1.2rem;
}

.alphabet a:hover {
  color: #1E5A6E;
}

.category-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  width: 40%;
  gap: 2rem;
}

.category {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: #1E5A6E;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  transition: 0.5s;
}

.category:hover {
  transform: scale(1.1);
}

.search-item-img {
  width: 5rem;
}

.random-img {
  width: 6rem;
}


.intro{
line-height: 1.3;
  max-width: 55rem;
  text-align: center;
}

@media (max-width:40rem) {

  .header {
    font-size: 1.5rem;
    width: 25rem;
    text-align: center;
  }

  .searchOptions {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .searchbar {
    width: 20rem;
 
  }

  .search-item {
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;

  }

  .search-item-img {
    width: 3rem;
  }



  .search-container {
    gap: 1rem;
  }

  .random-img,
  .cocktail-image-random {
    width: 7rem;
  }

  .container {
    flex-direction: column;
  }

  .alphabet {

    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .category-container {
    width: 100%;
  }

  .intro{
    max-width: 20rem;
  }

}
