
footer {
    background-color:#002935;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo {

margin-left: 1rem;
width: 6rem;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

@media (max-width:40rem){
    .logo{
        width: 5rem;
    }

    .name p{
        font-size: 1rem;
    }
}